td {
    padding: 0.5em;
    margin: 1em;
    width: 50%;
    background-color: lightcyan;
    border: 2px solid grey;

}

td:hover {
    background-color:white;
}

table {
    table-layout: fixed;
    
}
div {
    margin: 1em;j
    display: block;
}

div.field:hover {
    background-color:aliceblue;
}
.field {
    margin-bottom: 2em;
    width: 30em;
}
#help {
    color: red;
}
img{
    height:200px; 
    width:auto; 
}

div.container{
    background-color:linen;
    text-align: left;
    width: 30em;
    border-radius: 25px;
    padding: 20px; 
    width: 30em;
}

body {
    background-color: gainsboro;
    margin: 2em 1em;
}

h1 {
    margin 5em;
}
